.mc {
    width: 1200px;
    text-align: center;
    margin: auto;
}

.pie {
    display: inline-block;
    margin: 7.5px 5px;
}

.pie a {
    font-size: 26px;
    text-decoration: none;
    color: #333333;
    width: 115px;
    padding: 30px 20px;
    display: inline-block;
    border: 1px solid #e1e1e1;
}

.pie a:hover {
    background: #e1e1e1;
}
